#!/usr/bin/env bash

alias soff="sleep 1; xset dpms force off"
alias connected-displays="xrandr | grep -v disconnected | awk '/connected/ { print \$1 }'"

# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'


